doctype 5
html
	head
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', type='text/css', href='/stylesheets/styles.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/flippant.css')
		script(src='/javascripts/css_browser_selector.min.js')
		script(src='/javascripts/moment.js')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
		script(src='/javascripts/flippant.min.js')
		script(src='/javascripts/calendarScripts.js')
		script(src='/javascripts/handlebars.js')
	body
		block content