body{width: 1170px; margin: 0 auto; background-color: #ffffff;}
.ie body{width: 1167.2px;}
.ie.ie7 body{width: 1167px;}
h1{padding: 0; margin: 0;}
h2{padding: 0; margin: 0;}
h3{padding: 0; margin: 0;}
h4{padding: 0; margin: 0;}
h5{padding: 0; margin: 0;}
h6{padding: 0; margin: 0;}
p{padding: 0; margin: 0;}
div{padding: 0; margin: 0;}
select{height: 40px; width: 250px; font-size: 25px; border-radius: 3px;}
.clearfix{clear:both;}
.Header {width: 1170px; background-color: #0772a1; border-radius: 10px;}
.ie .Header{width: 1167.2px;}
.ie.ie7 .Header{width: 1167px;}
.Header .Title {margin:70px 275px; width: 325px;float: left; height: 60px;}
.Header .Title h1 {font-size: 50px;}
.Header .Controls{margin:70px 0; width: 270px; float: left; height: 60px;}
.Calendar{border-style:solid; border-color: #0772a1;  border-width: 5px 4px; border-radius:10px;}
.CalendarHeader{}
.CalendarHeaderDay{float: left; width:164px; border-left: 1px solid #0772a1; border-right: 1px solid #0772a1; text-align: center;}
.CalendarHeaderDay text{font-size: 20px;}
.CalendarBodyDay{float: left; width:164px; height: 164px; border-left: 1px solid #0772a1; border-right: 1px solid #0772a1; border-top: 2px solid #0772a1;}
.CalendarBodyDay-Date{font-size: 25px;}
.CalendarBodyDay-Events{font-size: 16px; overflow:none;}
.CalendarBodyDay-Event{overflow:hidden; background: #6ee768; height: 60px;}
